.central_zone
{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*width: 90%;*/
    width: auto;
    justify-content: space-between;
    padding: 20px;
}
.encryption_zone:nth-child(1)
{
    /*flex: 2;*/
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    padding: 20px;
}
.encrypt_decrypt_button
{
    background-color: #1761a0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 25%;
    height: 13%;
}
.description:nth-child(2)
{
    border: 1px black solid;
    padding: 5px;
    width: 40%;
    /*flex: 1;*/
}